html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body {
	@include primary-font(14px);
	color: $body-color;
	hyphens: auto;
	word-wrap: break-word;
	background-color: $body-bg;
}

::-webkit-input-placeholder { /* For WebKit browsers */
    color:  #dd3333;
    font-family:Helvetica Neue;
    font-weight:bold;
}
:-moz-placeholder { /* For Mozilla Firefox 4 to 18 */
    color: #dd3333;
    font-family:Helvetica Neue;
    font-weight:bold;
}
::-moz-placeholder { /* For Mozilla Firefox 19+ */
    color: #dd3333;
    font-family:Helvetica Neue;
    font-weight:bold;
}
:-ms-input-placeholder { /* For Internet Explorer 10+ */
    color: #dd3333;
    font-family:Helvetica Neue;
    font-weight:bold;
}