#services {
	padding: 70px 0;

	h2 {
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-size: 46px;
		font-weight: bold;

		margin-bottom: 15px;
	}

	hr {
		width: 10%;
		height: 3px;

		background-color: rgb(81, 191, 219);
	}

	ul {
		list-style: none;
        float: right;
        padding-top: 20px;

        li {
        	font-size: 18px;
        	font-family: 'Open Sans', sans-serif;

        	i {
        		color: rgb(81, 191, 219);
        	}
        }
	}

	.services-img {
		background: url(../img/services.jpeg) no-repeat center center;
		background-size: cover;
		position: relative;
		height: 600px;
		width: 100%;
		text-align: center;
		padding-top: 50px;
	}
}